* {
    box-sizing: border-box;
}

.purple {
    width: 100px;
    height: 100px;
    background-color: rgb(47,47,145);
    border: 1px solid white;
    animation-name: colors;
    animation-duration: 8s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}

.container {
    margin: 0 auto;
    margin-top: 10px;
}

@keyframes colors {
    from {
        background-color: rgb(47,47,145); left: 0px; top:0px;
    }
    12.5% {
        background-color: rgb(0,173,238); left:300px; top:0px;
    }
    25% {
        background-color: rgb(246,130,32); left:600px; top:0px
    }
    37.5% {
        background-color: rgb(2,167,82); left:900px; top:0px
    }
    50% {
        background-color: rgb(203,143,170); left:1200px; top:0px
    }
    62.5% {
        background-color: rgb(239,28,39); left:900px; top:0px
    }
    75% {
        background-color: rgb(253,203,11); left:600px; top:0px
    }
    87.5% {
        background-color: rgb(0,151,216); left:300px; top:0px
    }
    to {
        background-color: rgb(47,47,145); left:0px; top:0px
    }
}